.container {
margin:0 auto;
max-width: 1200px;
display: flex;
flex-direction: column;
align-items: center;
}

.banner-1 {
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 24px;
        max-width: 672px;
        height: 80px;
        margin-bottom: 50px;
    }
    &__stroke{
        width: 444px;
    }
    &__button{
        margin-left: 24px;
        height: 44px;
        width: 156px;
        box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.1);
        border-radius: 22px;
        border: 0;
    }
    &__before {
        text-align: end;
        margin-bottom: 8px;
    }
}
.banner-2 {
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 24px;
        border-radius: 16px;
        max-width: 640px;
        height: 80px;
    }
    &__stroke{
        width: 413px;
    }
    &__button{
        margin-left: 20px;
        height: 48px;
        width: 159px;
        border-radius: 8px;
        border: 0;
    }
    &__before {
        text-align: end;
        margin-top: 8px;
    }
}

@media (max-width:320px) {
    .banner-1 {
        &__block{
            padding: 0;
            flex-direction: column;
            width: 264px;
            height: 152px;
            margin-bottom: 50px;
        }
        &__stroke{
            width: 224px;
            height: 60px;
        }
        &__button{
            height: 40px;
            width: 145px;
            margin-bottom: 20px;
            margin-left: 0;
        }
        &__before {
            margin-bottom: 4px;
        }
    }
    .banner-2 {
        &__block{
            padding: 0;
            flex-direction: column;
            width: 296px;
            height: 148px;
        }
        &__stroke{
            text-align: center;
            width: 272px;
            height: 72px;
            letter-spacing: 0.1px;
        }
        &__button{
            margin-left: 0;
            height: 36px;
            width: 124px;
            margin-bottom: 20px;
        }
        &__before {
            margin-top: 4px;
        }
    }
}
    
